body {
  background-color: black !important;
}

#guide-container {
	background: #000;
}
#guide-container a {
	color: #d0d0d0;
}
.guide-pinned .guide-pinning-enabled #appbar-guide-menu{
	border-right: 1px solid #650000 !important;
}

#feed{
	background: #424242 !important;

}
#feed a {
	color: #fff !important;
	background: none !important;
}
.appbar-content-hidable{
	background: #383838;
}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item{
	color: #fff !important;
}
a.yt-uix-button-epic-nav-item.selected, a.yt-uix-button-epic-nav-item.yt-uix-button-toggled, button.yt-uix-button-epic-nav-item.selected, button.yt-uix-button-epic-nav-item.yt-uix-button-toggled, .epic-nav-item.selected, .epic-nav-item.yt-uix-button-toggled, .epic-nav-item-heading{
	color: #ff6400 !important;
}

#yt-masthead-container, #footer-container{
	background: #c1080e !important;
}
#footer-links-primary a{
	color: #fff !important;
}
#footer-links-secondary a, #footer-links-secondary .copyright{
	color: #ffb1b1 !important;
}